{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2>Edit Review for {{ review.product.name }}</h2>
            <form method="post">
                <fieldset class="rounded px-3 mb-5">
                    {{ form.content | as_crispy_field }}
                    {{ form.stars | as_crispy_field }}
                </fieldset>
                <button type="submit" class="btn btn-blue mt-2">Update Review</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
