{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-left">
        <div class="col-lg-6">
            <h2>Add Product</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                
                <div id="image-formset">
                    {{ image_formset.management_form }}
                    {% for image_form in image_formset %}
                        <div class="form-group">
                            {{ image_form|crispy }}
                        </div>
                    {% endfor %}
                </div>
                
                <a href="#" id="add-image">Add Another Image</a>
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    let formIdx = {{ image_formset.total_form_count }};
    document.getElementById('add-image').addEventListener('click', function(e) {
        e.preventDefault();
        const newForm = document.createElement('div');
        newForm.classList.add('form-group');
        newForm.innerHTML = `
            <hr>
            <div><label for="id_image-${formIdx}-image">Image*</label></div>
            <input type="file" name="image-${formIdx}-image" id="id_image-${formIdx}-image">
            <div><label for="id_image-${formIdx}-alt">Alt</label></div>
            <input type="text" name="image-${formIdx}-alt" id="id_image-${formIdx}-alt" class="form-control">
        `;
        document.getElementById('image-formset').appendChild(newForm);
        formIdx++;
        
        // Update the total number of forms
        document.getElementById('id_image-TOTAL_FORMS').value = formIdx;
    });
});
</script>

{% endblock %}
