{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-left">
        <div class="col-lg-6">
            <h2>Edit Product</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <div id="image-formset">
                    {{ image_formset.management_form }}
                    {% for form in image_formset %}
                        <div class="image-form">
                            {{ form|crispy }}
                            <hr>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary mt-3">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
