<!-- templates/website/home.html -->

{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div href="{% url 'product_detail' product.id %}" class="col-md-3 col-sm-6">
        <div class="card mb-4 shadow-sm">
            {% with product.images.first as product_image %}
                {% if product_image %}
                <img class="card-img-top" src="{{ product_image.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
            {% endwith %}
            <div class="card-body">
                <h5 class="card-title d-inline">{{ product.name }}   </h5>
                <p class="d-inline"><i class="fa-solid fa-star" style="color: #ffff00;"> </i>{{ product.average_rating }}/5</p>
                <p class="card-text">{{ product.description }}</p>
                <p class="card-text">Price: ${{ product.price }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
