{% load custom_filters %}
<div class="col-md-6 col-lg-3 mb-4">
    <a href="{% url 'product_detail' product.id %}" class="card-link">
        <div class="card h-100 shadow-sm">
            <div class="card-img-top-container">
                {% with product.images.first as product_image %}
                    {% if product_image %}
                    <img class="card-img-top" src="{{ product_image.image.url }}" alt="{{ image.alt }}">
                    {% else %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="No Image Available">
                    {% endif %}
                {% endwith %}
            </div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text mt-auto">
                    <i class="fa-solid fa-star" style="color: #ffff00;"></i>
                    {{ product.average_rating }}/5
                </p>
                <p class="card-text">{{ product.description|first_sentence }}</p>
                <p class="card-text mt-auto">Price: ${{ product.price }}</p>
            </div>
        </div>
    </a>
</div>
