{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to ToolboxCorner!</h1>
        <p class="lead">Your one-stop shop for all your <strong>DIY needs!</strong></p>
        <hr class="my-4">
        <p>Here you find wide range of <strong>tools and accessories</strong> for all your <strong>DIY projects</strong>!</p>
        <p><i class="fa-solid fa-screwdriver-wrench"></i> <i class="fa-solid fa-toolbox"></i> <i class="fa-solid fa-hammer"></i></p>
        <a class="btn btn-blue btn-lg" href="{% url 'home' %}" role="button">Start Shopping</a>
    </div>
</div>
{% endblock %}
