/* ------Base */

body {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}

/* Navbar styling */
.navbar {
    background-color: #F0F0F0 !important;
    border-bottom: 1px solid #dee2e6 !important;
}

.navbar-brand {
    font-weight: bold;
    color: #003366;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.banner {
    background-color: #003366;
    color: #F0F0F0;
}

/* Card styling */
.card {
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-body {
    padding: 20px;
}

/* Button styling */

.btn-blue {
    background: #003366;
    color: #F0F0F0;
}

.btn-outline-blue {
    background: #F0F0F0;
    color: #003366 !important;
    border: 1px solid #003366;
}

.btn-outline-blue:hover,
.btn-outline-blue:active,
.btn-outline-blue:focus {
    background: #003366;
    color: #F0F0F0 !important;
}

.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
    background: #F0F0F0;
    color: #003366;
}

#main-image {
    display: block;
    max-height: 400px;
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.more-image {
    transition: transform 0.3s;
    max-height: 70px;
    display: block;
    margin: 0 auto;
    margin: 5px;
}

.more-image:hover {
    transform: scale(1.1);
}

div.image-form .clearable-file-input input[type="checkbox"] {
    display: none;
}

div.image-form .clearable-file-input label {
    display: none;
}

/* Welcome */

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

.jumbotron {
    background-color: #F0F0F0;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #dee2e6 !important;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

.jumbotron p {
    font-size: 1.25rem;
}

.jumbotron .btn {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
}


/* Product card */

.card-img-top-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .btn-group {
    margin-top: auto;
}

.card-link {
    text-decoration: none;
    color: inherit;
    transition-duration: 5s;
}

.card-link .card {
    transition: transform 0.3s;
}

.card-link:hover .card {
    border-width: 2px;
    transform: scale(1.01);
}

/* Shopping Bag */

.small-image {
    width: 50%;
    height: auto;
}

/* -------- footer */

footer {
    background-color: #003366;
    margin: 0;
    position: sticky;
    padding: 20px 0;
    width: 100% !important;
    height: 100% !important;

}

footer p {
    background-color: #003366;
    margin-top: auto;
    text-align: center;
    color: #F0F0F0;
    font-size: 0.8rem;

}


footer p a {
    color: #F0F0F0;
}

.social-networks {
    text-align: center;
    margin: 0;
    padding: 0;
}


.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 110%;
    margin: 0;
    padding: 1.5% 1.5%;
    color: #F0F0F0;
}

/* For medium screens (tablets) */
@media (max-width: 991.98px) {
    .small-image {
        width: 100%;
        height: auto;
    }
}

/* For small screens (phones) */
@media (max-width: 767.98px) {
    .small-image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 576px) {
    .jumbotron h1 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .jumbotron p.lead {
        font-size: 1rem;
    }

    .jumbotron .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }
}